*
{
	padding:0;
	margin:0;
	box-sizing: border-box;
}

body
{
	background:whitesmoke;
	width:100vw;

}


header
{
	background:darkblue;
	padding:7px;
	box-shadow: 2px 3px 2px 3px rgba(0,0,0.2);
	display: flex;
	position:fixed;
	width:100vw;
	top:0;
}

header h3
{
	color:white;
	margin-left: 10px;
	font-family: arial;
	margin-top: auto;
	margin-bottom: auto;
}


header input
{

	margin-left: 300px;
	outline:none;
	border-radius: 5px;
	margin-top: auto;
	margin-bottom: auto;
	padding:5px;
	width:20%;

}

header .nav-button span
	
{
	background: red;
	padding:3px;
	display:block;
	margin:3px ;
	width:30px;
	margin-left:15px;
	font-size:10px;
	cursor:pointer;
	border-radius: 2px;

}




/* this is where the side-nav styling start */

.main-body
{
	background:whitesmoke;
	display: flex;
	margin-top: 20px;

}


.side-nav h2
{
	color:white;
	margin-bottom: 10px;
	margin-top: 15px;
}

.heading
{
	background:red;
}


.site-content
{
	background:floralwhite;
	padding:30px;
	min-height: 100vh;
	width:85%;
	border-radius: 20px;
	box-shadow: 2px 3px 2px 3px rgba(0,0,0.1);
	margin-left:170px;
	margin-top: 50px;
	

}


 .main_section 
{
	/*background: yellow;*/
	padding:30px;	
	display:flex;
}


.sub_section-1 
{
	background:linear-gradient(red,royalblue);
	min-height:70vh;
	padding:30px;
	width:300px;


}

.sub_section-1 li 
{
	color:white;
	margin-top:10px;
}

.sub_section-2 
{
	background:linear-gradient(red,royalblue);
	min-height:80vh;
	padding:30px;
	max-width: 20vw;


}

.sub_section-2 li 
{
	color:white;
	margin-top:20px;
}


.sub_section-3
{
	background: yellow;
	display:flex;
	margin-left: 10px;
	margin:5px 7px 5px 7px;
	height:10px;
	box-shadow: 1px 2px 1px 2px rgba(0,0,0.2);

	
}

.span_1
{
	background: darkblue;
	height: 30px;
	margin:20px;
	padding:50px;
	width:180%;
	margin-right: 30px;
	border-radius: 5px;
	box-shadow: 2px 3px 2px 3px rgba(0,0,0.2);


}

.span_1 :focus

{
	transition: 2s;
	margin:10px;
}


.span_2
{
	background: darkblue;
	height: 30px;
	margin:20px;
	padding:50px;
	margin-right: 30px;
	border-radius: 5px;
	box-shadow: 2px 3px 2px 3px rgba(0,0,0.2);

}



.span_2 :focus

{
	transition: 2s;
	margin:10px;
}


.span_3
{
	background: darkblue;
	height: 30px;
	margin:20px;
	padding:50px;
	margin-right: 30px;
	border-radius: 5px;
	box-shadow: 2px 3px 2px 3px rgba(0,0,0.2);

}


.span_3 :focus

{
	transition: 2s;
	margin:10px;
}


.image-1 img 
{
	width:220px;
	margin-top:40px;
	border-radius: 15px;
	cursor: pointer;
	border:solid black 1px;
}



.section-2
{
	background: ghostwhite;
	margin-left: 30px;
	width:900px;
	box-shadow: 3px 3px 3px 3px rgba(0,0,0.5,0.5);
	display: flex;

}


footer
{
	background:black;
	padding:10px;
	text-align: center;

}

footer h2
{
	color:white;

}
