*
{
	padding:0;
	margin:0;
	box-sizing: border-box;
}

body
{
	background:whitesmoke;

}


header
{
	background:darkblue;
	margin-top: 5px;
	padding:7px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	box-shadow: 2px 3px 2px 3px rgba(0,0,0.2);
	display: flex;
}

header h3
{
	color:white;
	margin-left: 10px;
	font-family: arial;
	margin-top: auto;
	margin-bottom: auto;
}


header input
{

	margin-left: 300px;
	outline:none;
	border-radius: 5px;
	margin-top: auto;
	margin-bottom: auto;
	padding:5px;
	width:20%;

}

header .nav-button span
	
{
	background: red;
	padding:3px;
	display:block;
	margin:3px ;
	width:30px;
	margin-left:15px;
	font-size:10px;
	cursor:pointer;
	border-radius: 2px;

}


/* this is where the side-nav styling start */

.main-body
{
	background:whitesmoke;
	padding:30px;
}


footer
{
	background:black;
	padding:10px;
	text-align: center;

}

footer h2
{
	color:white;
}
