body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    padding: 20px;
    color: #fff;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
  }
  
  .navbar li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .navbar li a {
    color: #fff;
    text-decoration: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(241, 14, 14);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: orange;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .content {
    padding: 20px;
  }
  
  .balance {
    font-size: 24px;
    font-weight: bold;
  }
  
  .transactions li {
    margin-bottom: 10px;
  }
  
  .profile p {
    margin-bottom: 5px;
  }