*{
	padding:0;
	margin:0;
}
body
{
	/*background-color: blue;*/
}

header
{
	background-color:darkblue;
	display: flex;
	padding: 7px;
	box-shadow: 5px 7px 5px 7px rgba(0, 0, 0, 0.3);
	

}

header h1
{
	font-size: 20px;
	color:white;
}


header input
{
	margin-left: 300px;
	outline: none;
	width:20%;
	border-radius: 10px;
}


 .fa-search
{
	color:royalblue;
	margin-bottom: auto;
	margin-top: auto;
	background: white;
	padding:5px;
	border-radius: 10px;
	cursor:pointer;
	border:solid black 1px;
}


header .products
{
	background:white;
	width:15%;
	margin-left: 40px;
	border-radius: 10px;
	display: flex;
	padding:2px;

}

header .products h3
{
	opacity:0.3;
	margin-left: 10px;
	
}

ul
{
	color:white;
	position: fixed;
	display: none;
	margin-top: 70px;
	margin-left: 20px;
	

}

ul li{
	margin-top: 10px;
	background: darkblue;
	margin-top: 10px;
	background: darkblue;
	padding:5px;
	border-bottom-right-radius: 15px;
	cursor: pointer;
}

ul :hover
{
	padding:15px;
	transition: 1s;
	margin: 20px;
	
}

header .products button
{
	margin-left: auto;
	cursor:pointer;
}

.fa-user
{
	margin-bottom: auto;
	margin-top: auto;
	margin-left: auto;
	color:lightcyan;
}

.fa-bell
{
	margin-bottom: auto;
	margin-top: auto;
	margin-left: auto;
	color: greenyellow;
}

nav
{
	margin-top: 20px;
	text-align: center;
	box-shadow: 5px 7px  5px 7px rgba(0, 0, 0, 0.3);



 	
}

nav a
{
	margin:20px 30px 20px 30px;
	font-size: 20px;
	text-decoration: none;


}

nav a :hover
{
	color:red;

}

nav a :hover
{
	transition: 1s;	
	width:2%;
	
}

.wrapper
{
	min-height: 100vh;
	background: dimgrey;
}

.main_section
{
	margin:80px;
	border-radius: 15px;
	display:flex;
	margin-top: 10px;
	box-shadow:5px 7px  5px 7px rgba(0, 0, 0, 0.3);


}

.sub_section-1
{
	background:linear-gradient(blueviolet,blue);
	padding:20px;
	margin-top: 10px;
	border-radius: 15px;
	box-shadow: 4px 10px rgba(0, 0, 0, 1.0);
}




.sub_section-1 li{
	color:white;
	margin-top: 10px;
}

.sub_section-2
{
	background:linear-gradient(blueviolet,blue);
	padding:30px;
	margin-top: 10px;
	border-radius: 15px;
	box-shadow: 4px 10px rgba(0, 0, 0, 1.0);
	margin-left: 20px;
}

.image-1:hover
{

	transition: 1s;
	padding:10px;

}


.sub_section-2 li
{
	color:white;
	margin-top:10px;
}


.image-1 img
{
	border-radius: 20px;
	height: 150px;
	margin-top: 40px;
}




.section_2
{
	background-image: url(../image/man.jpeg);
	margin-left: 40px;
	margin-top: 10px;
	width:60%;
	box-shadow:5px 7px  5px 7px rgba(0, 0, 0, 0.3);
	border-radius: 15px;
	background-size: cover;
	

	


}



footer
{
	background: black;
	text-align: center;
	color:white;
	padding:5px;
}