*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body
{
	background-image:linear-gradient(rgba(0,0,0,0.0), #009688),url(../image/WEB.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 99vw;
	position: relative;
	left: 0.5vw;
}


.wrapper
{
	background-image:linear-gradient(rgba(0,0,0,0.0), #009688),url(../image/WEB.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	width: 100%;
}

header
{
	position: fixed;
	top: 0;
	width:100%;	
	z-index: 950;
	background:linear-gradient(rgba(0, 0, 0, 0.-3),black);

}

.site_name {
	margin-left: 40px;
	color:white;
	font-family: 'kaushan Script', cursive;
	display: inline-block;
}

.search_wrapper {
width: 40%;
position: absolute;
display: inline-block;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
}

.ex_icons {
position: absolute;
display: inline-block;
right: 70px;
top: 50%;
transform: translateY(-50%);
}


header input 
{
	padding:5px;
	outline: none;
	width:80%;
	font-size: 18px;
}

.fa-search
{
	background: black;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color:white;
	padding: 9px;
}


 .fa-user{
	color:yellow;
	margin: 0 5px;

}
.fa-bell{
	color:royalblue;
	margin: 0 5px;
}
.product_button {
	background-color:inherit;
	border:1px solid whitesmoke;
	padding: 4px;
	border-radius:4px;
	color:white;
	font-size:17px;
	font-weight:bold;
	cursor: pointer;
}

header .products
{
	color:white;
	display: inline-block;

}

header .products ul
{
	color:white;
	position: fixed;
	display: none ;
	margin-top: 30px;
	
}

ul li{
	margin-top: 10px;
	background: darkblue;
	margin-top: 10px;
	background: darkblue;
	padding:5px;
	border-bottom-right-radius: 15px;
	cursor: pointer;
}

ul :hover
{
	padding:15px;
	transition: 1s;
	margin: 20px;
	
}

nav
{

	top:70px;
   	background:linear-gradient(rgba(0, 0, 0, 0.0),black);
	width: 100%;
	position: fixed;
	z-index: 500;
	padding: 0 10px;
	transition: 1s;
}

nav .nav_2
{
	display: none;
	
	width: 100%;
}

nav .nav_2_btn
{
	color: white;
	background-color: inherit;
	font-weight: bold;
	font-size: 20px;
	border: none;
}

nav a{
	display: inline-block;
	margin:5px 40px;
	color:cornsilk ;	
	text-decoration: none;
	font-family: arial;
	margin-left:0px;

}

nav a :hover{
	
	color:red;


}

.banner-text{
	text-align: center;
	padding-top: 250px;
}

.banner-text h2{
	font-size: 100px;
	color:white;
	font-family: 'kaushan Script', cursive;

}


.banner-text p{
	font-size: 20px;
	color:white;
	font-style: italic;
}

.site-btn
{
	text-align: center;
	margin: 50px auto 0;
	
}
.site-btn a
{
	text-decoration: none;
	display: inline-block;
	padding:10px;
	margin:12px 5px;
	width:150px;
	color:white;
	border:solid white .5px;
	position: relative;
	z-index: 1;
	transition: 1s;

}

.site-btn a span
{
	width:0;
	height:100%;
	background: white;
	position: absolute;
	z-index: -1;
	top:0;
	left:0;
	transition: 1s;
}


.site-btn a:hover span{                                                                                                                                                           
	width:100%;
}

.site-btn a:hover {
	color:black;
}


.container
{
	width:100%;
	height:80vh;
	background:black;
	display: flex;
	align-items: center;
}

.swiper{
	width:50%; 
	height:fit-content;
}

.swiper-slide {
	width: 100%;
}

.swiper-slide img{
	width: 70%;
	margin: 0 15%;
	height:200px;
	border-radius: 15px;
	box-shadow: 3px 5px 3px 5px rgba(0, 0, 0, 0.6);
	

}

.main_section
{
width: 100%;
padding:50px;
display:flex;
}

.main_section .section_1
{
	border: solid white .10px;
	padding: 10px 10px;
	border-radius: 10px;
}

.main_section .section_1 li:hover{
	padding:5px;
	color: white;


}


.main_section .section_1 li{
	padding:5px;
}

.main_section .section_btn
{
	margin-left: 50px;
	background-image: url(../image/shoe.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width:30%;
	border: solid white .8px;
	border-radius: 10px;
	z-index: 1;
	transition: 1s;
	position: relative;

}

.main_section .section_btn h3
{
	text-align: center;
	margin-top: 250px;
	text-transform: uppercase;
	font-family: 'kaushan Script', cursive;
	font-size: 60px;
	transition: 1s;
}


.main_section .section_btn h3 span

{
	width:50%;
	height:100%;
	background: blue;
	position: absolute;
	z-index:-1;
	top:0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
	left:0;
	transition: 1s;
}


.section_btn h3:hover span{
	
}

.section_btn h3:hover {
	color:blue;
}


.section_btn:hover span{
	width:100%;
}

 .section_btn_2{

	margin-left: 50px;
	background-image: url(../image/headbands.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width:30%;
	border: solid white .8px;
	border-radius: 10px;
	z-index: 1;
	transition: 1s;
	position: relative;

}

.section_btn_2 h3
{
	text-align: center;
	margin-top: 250px;
	text-transform: uppercase;
	font-family: 'kaushan Script', cursive;
	font-size: 60px;
	transition: 1s;
}


.section_btn_2 h3 span

{
	width:50%;
	height:100%;
	background: blue;
	position: absolute;
	z-index:-1;
	top:0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
	left:0;
	transition: 1s;
}


footer
{
	background:black;
	color:white;
	text-align: center;
	position: relative;
	width:100%;
	padding:10px;

}

@media (max-width:1100px){
.search_wrapper {
display: none;
}
}

@media (max-width:800px){
.site_name {
	margin-left: 15px;
	font-size: 22px;
}
.swiper{
	width:75%; 
}
}
	
@media (max-width:555px){
.site_name {
	margin-left: 8px;
	font-size: 18px;
}
.ex_icons {
right: 10px;
}
.product_button {
	padding: 3px;
	border-radius:3px;
	font-size:15px;
}

.banner-text h2{
	font-size: 50px;

}


.banner-text p{
	font-size: 18px;
}

.site-btn a
{
	display: block;
	width:200px;
	font-size: 20px;
	left: 50%;
	transform: translateX(-50%);

}

.swiper{
	width:100%; 
}
nav .nav_2
{
	display: block;
}
nav .nav_1
{
	display: none;
}
}
